@font-face {
    font-family: 'ChenYuluoyan-Thin';
    font-style: cursive;
    font-weight: 400;
    font-display: swap;
    src: url(word/ChenYuluoyan-Thin.ttf) format('woff2');
}

@font-face {
    font-family: '微軟正黑體-1';
    font-style: cursive;
    font-weight: 400;
    font-display: swap;
    src: url(word/微軟正黑體-1.ttf) format('woff2');
}

.contain{
    font-family:  "ChenYuluoyan-Thin", cursive;
    font-size: 2.5rem;
}

.concept{
    font-family:  "微軟正黑體-1", cursive;
    font-size: 1.6rem;
}
